:root {
  /* slate */
  --color-slate-50: hsl(210 40% 98%);
  --color-slate-100: hsl(210 40% 96.1%);
  --color-slate-200: hsl(214.3 31.8% 91.4%);
  --color-slate-300: hsl(213, 27%, 84%);
  --color-slate-400: hsl(215 20.2% 65.1%);
  --color-slate-500: hsl(215.4 16.3% 46.9%);
  --color-slate-600: hsl(215.3 19.3% 34.5%);
  --color-slate-700: hsl(215.3 25% 26.7%);
  --color-slate-800: hsl(217.2 32.6% 17.5%);
  --color-slate-900: hsl(222.2 47.4% 11.2%);
  --color-slate-950: hsl(222.2 84% 4.9%);

  /* gray */
  --color-gray-50: hsl(210 20% 98%);
  --color-gray-100: hsl(220 14.3% 95.9%);
  --color-gray-200: hsl(220 13% 91%);
  --color-gray-300: hsl(216 12.2% 83.9%);
  --color-gray-400: hsl(217.9 10.6% 64.9%);
  --color-gray-500: hsl(220 8.9% 46.1%);
  --color-gray-600: hsl(215 13.8% 34.1%);
  --color-gray-700: hsl(216.9 19.1% 26.7%);
  --color-gray-800: hsl(215 27.9% 16.9%);
  --color-gray-900: hsl(220.9 39.3% 11%);
  --color-gray-950: hsl(224 71.4% 4.1%);

  /* zinc */
  --color-zinc-50: hsl(0 0% 98%);
  --color-zinc-100: hsl(240 4.8% 95.9%);
  --color-zinc-200: hsl(240 5.9% 90%);
  --color-zinc-300: hsl(240 4.9% 83.9%);
  --color-zinc-400: hsl(240 5% 64.9%);
  --color-zinc-500: hsl(240 3.8% 46.1%);
  --color-zinc-600: hsl(240 5.2% 33.9%);
  --color-zinc-700: hsl(240 5.3% 26.1%);
  --color-zinc-800: hsl(240 3.7% 15.9%);
  --color-zinc-900: hsl(240 5.9% 10%);
  --color-zinc-950: hsl(240 10% 3.9%);

  /* neutral */
  --color-neutral-50: hsl(0 0% 98%);
  --color-neutral-100: hsl(0 0% 96.1%);
  --color-neutral-200: hsl(0 0% 89.8%);
  --color-neutral-300: hsl(0 0% 83.1%);
  --color-neutral-400: hsl(0 0% 63.9%);
  --color-neutral-500: hsl(0 0% 45.1%);
  --color-neutral-600: hsl(0 0% 32.2%);
  --color-neutral-700: hsl(0 0% 25.1%);
  --color-neutral-800: hsl(0 0% 14.9%);
  --color-neutral-900: hsl(0 0% 9%);
  --color-neutral-950: hsl(0 0% 3.9%);

  /* red */
  --color-red-50: hsl(0 85.7% 97.3%);
  --color-red-100: hsl(0 93.3% 94.1%);
  --color-red-200: hsl(0 96.3% 89.4%);
  --color-red-300: hsl(0 93.5% 81.8%);
  --color-red-400: hsl(0 90.6% 70.8%);
  --color-red-500: hsl(0 84.2% 60.2%);
  --color-red-600: hsl(0 72.2% 50.6%);
  --color-red-700: hsl(0 73.7% 41.8%);
  --color-red-800: hsl(0 70% 35.3%);
  --color-red-900: hsl(0 62.8% 30.6%);
  --color-red-950: hsl(0 74.7% 15.5%);

  /* orange */
  --color-orange-50: hsl(33.3 100% 96.5%);
  --color-orange-100: hsl(34.3 100% 91.8%);
  --color-orange-200: hsl(32.1 97.7% 83.1%);
  --color-orange-300: hsl(30.7 97.2% 72.4%);
  --color-orange-400: hsl(27 96% 61%);
  --color-orange-500: hsl(24.6 95% 53.1%);
  --color-orange-600: hsl(20.5 90.2% 48.2%);
  --color-orange-700: hsl(17.5 88.3% 40.4%);
  --color-orange-800: hsl(15 79.1% 33.7%);
  --color-orange-900: hsl(15.3 74.6% 27.8%);
  --color-orange-950: hsl(13 81.1% 14.5%);

  /* amber */
  --color-amber-50: hsl(48 100% 96.1%);
  --color-amber-100: hsl(48 96.5% 88.8%);
  --color-amber-200: hsl(48 96.6% 76.7%);
  --color-amber-300: hsl(45.9 96.7% 64.5%);
  --color-amber-400: hsl(43.3 96.4% 56.3%);
  --color-amber-500: hsl(37.7 92.1% 50.2%);
  --color-amber-600: hsl(32.1 94.6% 43.7%);
  --color-amber-700: hsl(26 90.5% 37.1%);
  --color-amber-800: hsl(22.7 82.5% 31.4%);
  --color-amber-900: hsl(21.7 77.8% 26.5%);
  --color-amber-950: hsl(20.9 91.7% 14.1%);

  /* yellow */
  --color-yellow-50: hsl(54.5 91.7% 95.3%);
  --color-yellow-100: hsl(54.9 96.7% 88%);
  --color-yellow-200: hsl(52.8 98.3% 76.9%);
  --color-yellow-300: hsl(50.4 97.8% 63.5%);
  --color-yellow-400: hsl(47.9 95.8% 53.1%);
  --color-yellow-500: hsl(45.4 93.4% 47.5%);
  --color-yellow-600: hsl(40.6 96.1% 40.4%);
  --color-yellow-700: hsl(35.5 91.7% 32.9%);
  --color-yellow-800: hsl(31.8 81% 28.8%);
  --color-yellow-900: hsl(28.4 72.5% 25.7%);
  --color-yellow-950: hsl(26 83.3% 14.1%);

  /* lime */
  --color-lime-50: hsl(78.3 92% 95.1%);
  --color-lime-100: hsl(79.6 89.1% 89.2%);
  --color-lime-200: hsl(80.9 88.5% 79.6%);
  --color-lime-300: hsl(82 84.5% 67.1%);
  --color-lime-400: hsl(82.7 78% 55.5%);
  --color-lime-500: hsl(83.7 80.5% 44.3%);
  --color-lime-600: hsl(84.8 85.2% 34.5%);
  --color-lime-700: hsl(85.9 78.4% 27.3%);
  --color-lime-800: hsl(86.3 69% 22.7%);
  --color-lime-900: hsl(87.6 61.2% 20.2%);
  --color-lime-950: hsl(89.3 80.4% 10%);

  /* green */
  --color-green-50: hsl(138.5 76.5% 96.7%);
  --color-green-100: hsl(140.6 84.2% 92.5%);
  --color-green-200: hsl(141 78.9% 85.1%);
  --color-green-300: hsl(141.7 76.6% 73.1%);
  --color-green-400: hsl(141.9 69.2% 58%);
  --color-green-500: hsl(142.1 70.6% 45.3%);
  --color-green-600: hsl(142.1 76.2% 36.3%);
  --color-green-700: hsl(142.4 71.8% 29.2%);
  --color-green-800: hsl(142.8 64.2% 24.1%);
  --color-green-900: hsl(143.8 61.2% 20.2%);
  --color-green-950: hsl(144.9 80.4% 10%);
}
