:root {
    --color-primary: #02f9cb;
    --color-border: #ccc;
    --color-text-primary:#ff0000;
  }[data-theme="dark"] {
    --color-primary: rgb(48, 54, 130);
    --color-border: #666;
    --color-text-primary:#fefefe;
}

:root{
  /* 主色调 */
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-active: #1d4ed8;
  --color-primary-disabled: #93c5fd;

  

  /* 功能色 */
  --color-success: #10b981;
  --color-success-hover: #059669;
  --color-warning: #f59e0b;
  --color-warning-hover: #d97706;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-info: #06b6d4;
  --color-info-hover: #0891b2;

  /* 中性色 */
  --color-background: #ffffff;
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-text-muted: #6b7280;
  --color-disabled: #f3f4f6;
}
