@import "./theme.css";

:root {
  --color-default: var(--color-neutral-950);
  --color-default-hover: var(--color-neutral-800);
  --color-default-active: var(--color-neutral-700);
  --color-default-disabled: var(--color-neutral-400);
  --color-default-disabled-text: var(--color-neutral-200);
  --color-default-text-1: var(--color-neutral-50);
  --color-default-text-2: var(--color-neutral-100);

  /* 主色调 */
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-400);
  --color-primary-active: var(--color-blue-300);
  --color-primary-disabled: var(--color-blue-300);
  --color-primary-disabled-text: var(--color-blue-200);
  --color-primary-text-1: var(--color-neutral-50);
  --color-primary-text-2: var(--color-neutral-100);

  /* 功能色 */
  --color-success: var(--color-teal-500);
  --color-success-hover: var(--color-teal-400);
  --color-success-active: var(--color-teal-300);
  --color-success-disabled: var(--color-teal-300);
  --color-success-text-1: var(--color-neutral-50);

  --color-warning: var(--color-amber-500);
  --color-warning-hover: var(--color-amber-400);
  --color-warning-active: var(--color-amber-300);
  --color-warning-disabled: var(--color-amber-300);
  --color-warning-text-1: var(--color-neutral-50);

  --color-danger: var(--color-red-500);
  --color-danger-hover: var(--color-red-400);
  --color-danger-active: var(--color-red-300);
  --color-danger-disabled: var(--color-red-300);
  --color-danger-text-1: var(--color-neutral-50);

  --color-info: var(--color-violet-500);
  --color-info-hover: var(--color-violet-400);
  --color-info-active: var(--color-violet-300);
  --color-info-disabled: var(--color-violet-300);
  --color-info-text-1: var(--color-neutral-50);

  /* 中性色 */
  --color-background: #ffffff;
  --color-border: var(--color-neutral-100);
  --color-border-1: var(--color-neutral-200);
  --color-text: var(--color-neutral-950);
  --color-text-1: var(--color-neutral-800);
  --color-text-2: var(--color-neutral-700);
  --color-text-muted: var(--color-neutral-500);
  --color-text-bg: hsla(0, 0%, 96.1%, 0.5);
  --color-disabled: var(--color-neutral-950);
  --color-bg-hover: hsla(0, 0%, 96.1%, 0.5);
  --border-radius: 4px;
  --border-radius-0: 0px;
}

/* 暗色模式变量 */
:root.dark {
  --color-background: #1a1a1a;
  --color-text: #f0f0f0;
  --color-border: #374151;

  --color-default: #ffffff;
  --color-default-hover: hsl(0 0% 96.1%);
  --color-default-active: hsl(0 0% 83.1%);
  --color-default-text-1: hsl(240 10% 3.9%);

  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;
  --color-primary-active: #2563eb;

  --color-success: #34d399;
  --color-success-hover: #10b981;
  --color-success-active: #059669;

  --color-warning: #fbbf24;
  --color-warning-hover: #f59e0b;
  --color-warning-active: #d97706;

  --color-danger: #f87171;
  --color-danger-hover: #ef4444;
  --color-danger-active: #dc2626;

  --color-info: #22d3ee;
  --color-info-hover: #06b6d4;
  --color-info-active: #0891b2;

  --color-disabled: #e0e0e023;

  /* ------------------------------------- */
  --color-default: var(--color-neutral-50);
  --color-default-hover: var(--color-neutral-200);
  --color-default-active: var(--color-neutral-200);
  --color-default-text-1: var(--color-neutral-950);
  --color-default-text-2: var(--color-neutral-900);

  /* 主色调 */
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-600);
  --color-primary-active: var(--color-blue-700);
  --color-primary-disabled: var(--color-blue-300);
  --color-primary-text-1: var(--color-neutral-50);

  /* 功能色 */
  --color-success: var(--color-teal-500);
  --color-success-hover: var(--color-teal-600);
  --color-success-active: var(--color-teal-700);
  --color-success-disabled: var(--color-teal-300);
  --color-success-text-1: var(--color-neutral-50);

  /* 警告色 */
  --color-warning: var(--color-amber-500);
  --color-warning-hover: var(--color-amber-600);
  --color-warning-active: var(--color-amber-700);
  --color-warning-disabled: var(--color-amber-300);
  --color-warning-text-1: var(--color-neutral-50);

  --color-danger: var(--color-red-500);
  --color-danger-hover: var(--color-red-600);
  --color-danger-active: var(--color-red-700);
  --color-danger-disabled: var(--color-red-300);
  --color-danger-text-1: var(--color-neutral-50);

  --color-info: var(--color-violet-500);
  --color-info-hover: var(--color-violet-600);
  --color-info-active: var(--color-violet-700);
  --color-info-disabled: var(--color-violet-300);
  --color-info-text-1: var(--color-neutral-50);

  /* 中性色 */
  --color-background: var(--color-neutral-950);
  --color-border: var(--color-neutral-900);
  --color-text: var(--color-neutral-50);
  --color-text-bg: hsla(0, 0%, 96.1%, 0.1);
  --color-text-muted: var(--color-neutral-500);
  --color-disabled: var(--color-neutral-400);
  --color-bg-hover: hsla(0, 0%, 96.1%, 0.1);
}
