@import "./theme.css";

:root {
  --color-default: var(--color-neutral-950);
  --color-default-1: var(--color-neutral-900);
  --color-default-hover: var(--color-neutral-800);
  --color-default-hover-text: var(--color-neutral-100);
  --color-default-active: var(--color-neutral-700);
  --color-default-disabled: var(--color-neutral-400);
  --color-default-disabled-text: var(--color-neutral-200);
  --color-default-text-1: var(--color-neutral-50);
  --color-default-text-2: var(--color-neutral-100);

  /* 主色调 */
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-400);
  --color-primary-hover-text: var(--color-neutral-100);
  --color-primary-active: var(--color-blue-300);
  --color-primary-disabled: var(--color-blue-300);
  --color-primary-disabled-text: var(--color-blue-200);
  --color-primary-text-1: var(--color-neutral-50);
  --color-primary-text-2: var(--color-neutral-100);

  /* 功能色 */
  --color-success: var(--color-teal-500);
  --color-success-hover: var(--color-teal-400);
  --color-success-hover-text: var(--color-neutral-100);
  --color-success-active: var(--color-teal-300);
  --color-success-disabled: var(--color-teal-300);
  --color-success-text-1: var(--color-neutral-50);

  --color-warning: var(--color-amber-500);
  --color-warning-hover: var(--color-amber-400);
  --color-warning-hover-text: var(--color-neutral-100);
  --color-warning-active: var(--color-amber-300);
  --color-warning-disabled: var(--color-amber-300);
  --color-warning-text-1: var(--color-neutral-50);

  --color-danger: var(--color-red-500);
  --color-danger-hover: var(--color-red-400);
  --color-danger-hover-text: var(--color-neutral-100);
  --color-danger-active: var(--color-red-300);
  --color-danger-disabled: var(--color-red-300);
  --color-danger-text-1: var(--color-neutral-50);

  --color-info: var(--color-violet-500);
  --color-info-hover: var(--color-violet-400);
  --color-info-hover-text: var(--color-neutral-100);
  --color-info-active: var(--color-violet-300);
  --color-info-disabled: var(--color-violet-300);
  --color-info-text-1: var(--color-neutral-50);

  /* 中性色 */
  --color-background: #ffffff;
  --color-border: var(--color-neutral-100);
  --color-border-1: var(--color-neutral-200);
  --color-text: var(--color-neutral-950);
  --color-text-1: var(--color-neutral-800);
  --color-text-2: var(--color-neutral-700);
  --color-text-3: var(--color-neutral-600);
  --color-text-muted: var(--color-neutral-500);
  --color-text-bg: hsla(0, 0%, 96.1%, 0.5);
  --color-disabled: var(--color-neutral-950);
  --color-disabled-text: var(--color-neutral-100);
  --color-disabled-text-1: var(--color-neutral-500);
  --color-bg-hover: hsla(0, 0%, 96.1%, 0.5);
  --color-bg-hover-1: var(--color-neutral-100);
  --skeleton-1: linear-gradient(90deg,
      var(--color-neutral-200) 25%,
      var(--color-neutral-300) 50%,
      var(--color-neutral-200) 75%);

  --border-radius: 4px;
  --border-radius-0: 0px;
  --font-size: 14px;
  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 32px;
  --font-size-7: 40px;
  --font-size-8: 48px;
  --font-size-9: 56px;
  --font-size-10: 64px;
  --font-weight: 400;
  --font-weight-1: 500;
  --font-weight-2: 600;
  --font-weight-3: 700;
  --font-family: Inter, -apple-system, BlinkMacSystemFont, PingFang SC,
    Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  font-family: Inter, -apple-system, BlinkMacSystemFont, PingFang SC,
    Hiragino Sans GB, noto sans, Microsoft YaHei, Helvetica Neue, Helvetica,
    Arial, sans-serif !important;

  --padding-1: 0.25rem 0.5rem;
  /*small尺寸/输入框内边距*/
  --padding-2: 0.5rem 0.75rem;
  /*default尺寸*/
  --padding-3: 0.75rem 1rem;
  /*large尺寸*/
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --height-0: 30px;
  --height-1: 1.75rem;
  --height-2: 2rem;
  --height-3: 2.25rem;
  --width-0: 260px;
  --width-1: 100%;
  --min-width-1: 100%;
  --box-shadow-1: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

/* 暗色模式变量 */
:root.dark {
  --color-background: #1a1a1a;
  --color-text: #f0f0f0;
  --color-border: #374151;

  --color-default: #ffffff;
  --color-default-1: var(--color-neutral-600);
  --color-default-hover: hsl(0 0% 96.1%);
  --color-default-active: hsl(0 0% 83.1%);
  --color-default-text-1: hsl(240 10% 3.9%);

  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;
  --color-primary-active: #2563eb;

  --color-success: #34d399;
  --color-success-hover: #10b981;
  --color-success-active: #059669;

  --color-warning: #fbbf24;
  --color-warning-hover: #f59e0b;
  --color-warning-active: #d97706;

  --color-danger: #f87171;
  --color-danger-hover: #ef4444;
  --color-danger-active: #dc2626;

  --color-info: #22d3ee;
  --color-info-hover: #06b6d4;
  --color-info-active: #0891b2;

  --color-disabled: #e0e0e023;

  /* ------------------------------------- */
  --color-default: var(--color-neutral-50);
  --color-default-hover: var(--color-neutral-200);
  --color-default-hover-text: var(--color-neutral-900);
  --color-default-active: var(--color-neutral-200);
  --color-default-text-1: var(--color-neutral-950);
  --color-default-text-2: var(--color-neutral-900);

  /* 主色调 */
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-600);
  --color-primary-hover-text: var(--color-blue-950);
  --color-primary-active: var(--color-blue-700);
  --color-primary-disabled: var(--color-blue-300);
  --color-primary-text-1: var(--color-neutral-50);

  /* 功能色 */
  --color-success: var(--color-teal-500);
  --color-success-hover: var(--color-teal-600);
  --color-success-hover-text: var(--color-teal-950);
  --color-success-active: var(--color-teal-700);
  --color-success-disabled: var(--color-teal-300);
  --color-success-text-1: var(--color-neutral-50);

  /* 警告色 */
  --color-warning: var(--color-amber-500);
  --color-warning-hover: var(--color-amber-600);
  --color-warning-hover-text: var(--color-amber-950);
  --color-warning-active: var(--color-amber-700);
  --color-warning-disabled: var(--color-amber-300);
  --color-warning-text-1: var(--color-neutral-50);

  --color-danger: var(--color-red-500);
  --color-danger-hover: var(--color-red-600);
  --color-danger-hover-text: var(--color-neutral-800);
  --color-danger-active: var(--color-red-700);
  --color-danger-disabled: var(--color-red-300);
  --color-danger-text-1: var(--color-neutral-50);

  --color-info: var(--color-violet-500);
  --color-info-hover: var(--color-violet-600);
  --color-info-hover-text: var(--color-violet-950);
  --color-info-active: var(--color-violet-700);
  --color-info-disabled: var(--color-violet-300);
  --color-info-text-1: var(--color-neutral-50);

  /* 中性色 */
  --color-background: var(--color-neutral-950);
  --color-border: var(--color-neutral-800);
  --color-border-1: var(--color-neutral-800);
  --color-disabled-text: var(--color-neutral-900);
  color: hsl(240 5.9% 90%);
  --color-text: var(--color-neutral-50);
  --color-text-1: var(--color-neutral-100);
  --color-text-2: var(--color-neutral-200);
  --color-text-3: var(--color-neutral-300);
  --color-text-bg: hsla(0, 0%, 96.1%, 0.1);
  --color-text-muted: var(--color-neutral-500);
  --color-disabled: var(--color-neutral-400);
  --color-disabled-text-1: var(--color-neutral-600);
  --color-bg-hover: hsla(0, 0%, 96.1%, 0.1);
  --color-bg-hover-1: var(--color-neutral-800);
  --skeleton-1: linear-gradient(90deg,
      var(--color-neutral-800) 25%,
      var(--color-neutral-900) 50%,
      var(--color-neutral-800) 75%);
}