.x-select {
  position: relative;
  display: inline-block;
  width: var(--width-1);
  min-width: var(--min-width-1);
  font-family: var(--font-family);
  font-size: var(--font-size-1);
  cursor: pointer;
}

.x-select__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  padding: var(--padding-2);
  border: 1px solid;
  border-radius: var(--border-radius-0);
  background-color: var(--color-bg);
  /* height: var(--height-2); */
  font-size: var(--font-size-1);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.x-select__wrapper:focus {
  border: 1px solid;
}

.x-select__wrapper:focus {
  border-color: var(--color-default-hover);
}

/* 主题颜色样式 */
.x-select--default .x-select__wrapper {
  border-color: var(--color-border-1);
}

.x-select--default .x-select__wrapper:hover {
  border-color: var(--color-default-hover);
}

.x-select--default .x-select__wrapper:focus {
  border-color: var(--color-default-hover);
}

.x-select--primary .x-select__wrapper {
  border-color: var(--color-primary);
}

.x-select--primary .x-select__wrapper:hover {
  border-color: var(--color-primary-hover);
}

.x-select--success .x-select__wrapper {
  border-color: var(--color-success);
}

.x-select--success .x-select__wrapper:hover {
  border-color: var(--color-success-hover);
}

.x-select--warning .x-select__wrapper {
  border-color: var(--color-warning);
}

.x-select--warning .x-select__wrapper:hover {
  border-color: var(--color-warning-hover);
}

.x-select--danger .x-select__wrapper {
  border-color: var(--color-danger);
}

.x-select--danger .x-select__wrapper:hover {
  border-color: var(--color-danger-hover);
}

.x-select--info .x-select__wrapper {
  border-color: var(--color-info);
}

.x-select--info .x-select__wrapper:hover {
  border-color: var(--color-info-hover);
}

.x-select--primary .x-select-dropdown__item.is-selected {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}

.x-select--success .x-select-dropdown__item.is-selected {
  background-color: var(--color-success);
  color: var(--color-success-text);
}

.x-select--warning .x-select-dropdown__item.is-selected {
  background-color: var(--color-warning);
  color: var(--color-warning-text);
}

.x-select--danger .x-select-dropdown__item.is-selected {
  background-color: var(--color-danger);
  color: var(--color-danger-text);
}

.x-select--info .x-select-dropdown__item.is-selected {
  background-color: var(--color-info);
  color: var(--color-info-text);
}

.is-disabled {
  color: var(--color-primary-text-2);
  background-color: var(--color-disabled-text);
  cursor: not-allowed !important;
  color: var(--color-text-muted);
  border-color: var(--color-border-1);
}

.x-select__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  flex: 1;
  height: 19px;
  overflow: auto;
  line-height: 19px;
  align-items: center;
}

.x-select__tag {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 2px 4px;
  border-radius: 2px;
  font-size: var(--font-size-0);
  line-height: 13px;
  /* border: 1px solid var(--color-primary); */
  box-sizing: content-box;

  /* outline: 0.1px solid var(--color-primary); */
}

.x-select__tag-text {
  height: 14px;
  font-size: var(--font-size-0);
}

.x-select--default .x-select__tag {
  background-color: var(--color-default);
  color: var(--color-default-text-1);
}

.x-select--primary .x-select__tag {
  background-color: var(--color-primary);
  color: var(--color-primary-text-1);
}

.x-select--danger .x-select__tag {
  background-color: var(--color-danger);
  color: var(--color-danger-text-1);
}

.x-select--info .x-select__tag {
  background-color: var(--color-info);
  color: var(--color-info-text-1);
}

.x-select--success .x-select__tag {
  background-color: var(--color-success);
  color: var(--color-success-text-1);
}

.x-select--warning .x-select__tag {
  background-color: var(--color-warning);
  color: var(--color-warning-text-1);
}

.x-tag--info {
  /* background-color: var(--color-primary); */
  /* color: var(--color-primary-text-1); */
}

.x-select__tag-close {
  margin-left: 2px;
  cursor: pointer;
  font-size: 10px;
}

.x-select__input {
  flex: 1;
  min-width: 50px;
  border: none;
  outline: none;
  background: transparent;
  /* font-size: var(--font-size-1); */
  color: var(--color-default-text-1);
}

.x-select__input:disabled {
  cursor: not-allowed;
  background: transparent;
}

.x-select__selected {
  flex: 1;
  box-sizing: content-box;
  /* height: 100%;
  line-height: 100%; */
}

.x-select__selected.is-placeholder {
  color: var(--color-text-muted);
}

.x-select__clear {
  /* margin-left: 8px; */
  cursor: pointer;
  /* color: var(--color-text-secondary); */
  /* color: var(--color-text-primary); */
  /* font-size: 16px; */
  /* line-height: 1; */
}

.x-select__clear:hover {
  color: var(--color-text-primary);
}

.x-select__suffix {
  /* margin-left: 8px; */
  /* color: var(--color-text-secondary); */
}

.x-select__arrow {
  height: 50%;
  width: 50%;

  transition: transform 0.2s;
}

.x-select__arrow.is-reverse {
  transform: rotate(180deg);
}

.x-select-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 4px;
  border: 1px solid var(--color-border-1);
  border-radius: var(--border-radius-0);
  z-index: 1000;
  /* background-color: #fff; */
  padding: 0.25rem;
  box-sizing: border-box;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--color-background);
}

.x-select-dropdown__content {
  max-height: 280px;
  overflow-y: auto;
}

.x-select-dropdown__list {
  padding: 1px;
}

.x-select-dropdown__item {
  padding: 8px 12px;
  cursor: pointer;
  /* font-size: var(--font-size-1); */
  color: var(--color-text-primary);
  transition: background-color 0.2s;
}

.x-select-dropdown__item:hover,
.x-select-dropdown__item.is-hover {
  background-color: var(--color-hover-1);
}

/* .x-select-dropdown__item.is-selected { */
/* background-color: var(--color-primary); */
/* color: var(--color-primary-text); */
/* } */

.x-select-dropdown__item.is-disabled {
  color: #c0c4cc;
  cursor: not-allowed;
  background-color: transparent;
}

.x-select-dropdown__loading,
.x-select-dropdown__empty {
  padding: 20px;
  text-align: center;
  color: var(--color-text-secondary);
  /* font-size: var(--font-size-1); */
}

.x-select--small .x-select__wrapper {
  min-height: var(--padding-1);
  /* min-height: var(--height-1); */
  /* height: var(--height-1); */
  padding: var(--padding-1);
  font-size: var(--font-size-0);
  height: var(--height-1);
}
.x-select--medium .x-select__wrapper {
  min-height: var(--height-2);
  padding: var(--padding-2);
  font-size: var(--font-size-1);
  height: var(--height-2);
}

.x-select--large .x-select__wrapper {
  min-height: var(--height-3);
  padding: var(--padding-3);
  font-size: var(--font-size-2);
  height: var(--height-3);
}

.x-select-dropdown-enter-active,
.x-select-dropdown-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}

.x-select-dropdown-enter-from,
.x-select-dropdown-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.opacity-50 {
  opacity: 0.5;
}
